p{
    text-align: center;
    border: 1px solid red;
    background-color: black;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
html{
    background-color: rgb(48, 4, 8);
}

h2{
    color: white;
    text-align: center;
    border: 2px solid red;
    background-color: black;
}
#lead{
    
}
/* this is just some css to add some color to the file  */